{% extends 'base.html.twig' %}

{% block title %}New EventCart{% endblock %}

{% block body %}
    <h1>Create new EventCart</h1>

    {{ include('event_cart/_form.html.twig') }}

    <a href="{{ path('app_event_cart_index') }}">back to list</a>
{% endblock %}
