{% extends 'basefront.html.twig' %}

{% block title %}New Eventsreview{% endblock %}
{% block stylesheets %}
    <style> .flash-notice { color: red } </style>
{% endblock %}

{% block body %}
 
<div class="Container py-5">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container ">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Review Add</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"> Add Event Review </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Event Review</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
 
              <div class="form-group">
                
    {{ include('eventsreview/_form.html.twig') }}

                <a href="{{ path('app_eventsreview_index') }}" class="btn btn-secondary float-right">Cancel</a>

     


   
              </div>

            </div>
            
            <!-- /.card-body -->
          </div>
          <div class="row">
           <div class="col-12">
            </div>
          <!-- /.card -->
        </div>
         </div>
          
          
           
      </div>
    </section>
    <!-- /.content -->
  </div>

  {% endblock %}